<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userserver.dao.BanjiDao">
	<!-- 动态条件查询banji -->
	<select id="getAllBanji" parameterType="Banji" resultType="Banji">SELECT * FROM banji
		<where> 
			<!-- 主键id -->  
			<if test=" id !=null and id !='' ">and id=#{id}</if>  
			<!-- 班级人数 -->  
			<if test=" size !=null and size !='' ">and size=#{size}</if>  
			<!-- 班主任id（关联教师表） -->  
			<if test=" headTeacherId !=null and headTeacherId !='' ">and headTeacherId=#{headTeacherId}</if>  
			<!-- 男生人数 -->  
			<if test=" numOfBoys !=null and numOfBoys !='' ">and numOfBoys=#{numOfBoys}</if>  
			<!-- 女生人数 -->  
			<if test=" numOfGirls !=null and numOfGirls !='' ">and numOfGirls=#{numOfGirls}</if>  
			<!-- 所属院系id（关联院系表） -->  
			<if test=" facultyId !=null and facultyId !='' ">and facultyId=#{facultyId}</if>  
			<!-- 班级名称 -->  
			<if test=" banjiName !=null and banjiName !='' ">and banjiName=#{banjiName}</if>  
			<!-- 班主任姓名 -->  
			<if test=" headTeacherName !=null and headTeacherName !='' ">and headTeacherName=#{headTeacherName}</if>  
			<!-- 所属岗位id -->  
			<if test=" jobTypeId !=null and jobTypeId !='' ">and jobTypeId=#{jobTypeId}</if>  
			<!-- 开班时间 -->  
			<if test=" startDate !=null ">and startDate=#{startDate}</if>  
			<!-- 预计结业时间 -->  
			<if test=" preEndDate !=null ">and preEndDate=#{preEndDate}</if>  
			<!-- 实际结业时间 -->  
			<if test=" realEndDate !=null ">and realEndDate=#{realEndDate}</if>  
			<!-- 代课老师id -->  
			<if test=" teacherId !=null and teacherId !='' ">and teacherId=#{teacherId}</if>  
			<!-- 代课老师姓名 -->  
			<if test=" teacherName !=null and teacherName !='' ">and teacherName=#{teacherName}</if> 
		</where> 
	</select>
	<!-- 高级检索 -->
	<select id="superSearch" parameterType="String" resultType="Banji">SELECT * FROM banji 
		<where> 
			<!-- 班级名称 -->  
			<if test="1==1">or banjiName like CONCAT(CONCAT('%',#{superSearchKeyWord}), '%')</if>  
			<!-- 班主任姓名 -->  
			<if test="1==1">or headTeacherName like CONCAT(CONCAT('%',#{superSearchKeyWord}), '%')</if>  
			<!-- 代课老师姓名 -->  
			<if test="1==1">or teacherName like CONCAT(CONCAT('%',#{superSearchKeyWord}), '%')</if> 
		</where> 
	</select>
	<!-- 动态保存banji -->
	<insert parameterType="Banji" id="addBanji">INSERT INTO banji
		<trim prefix="(" suffix=")" suffixOverrides=","> 
			<!-- 主键id -->  
			<if test=" id !=null and id !='' ">id,</if>  
			<!-- 班级人数 -->  
			<if test=" size !=null and size !='' ">size,</if>  
			<!-- 班主任id（关联教师表） -->  
			<if test=" headTeacherId !=null and headTeacherId !='' ">headTeacherId,</if>  
			<!-- 男生人数 -->  
			<if test=" numOfBoys !=null and numOfBoys !='' ">numOfBoys,</if>  
			<!-- 女生人数 -->  
			<if test=" numOfGirls !=null and numOfGirls !='' ">numOfGirls,</if>  
			<!-- 所属院系id（关联院系表） -->  
			<if test=" facultyId !=null and facultyId !='' ">facultyId,</if>  
			<!-- 班级名称 -->  
			<if test=" banjiName !=null and banjiName !='' ">banjiName,</if>  
			<!-- 班主任姓名 -->  
			<if test=" headTeacherName !=null and headTeacherName !='' ">headTeacherName,</if>  
			<!-- 所属岗位id -->  
			<if test=" jobTypeId !=null and jobTypeId !='' ">jobTypeId,</if>  
			<!-- 开班时间 -->  
			<if test=" startDate !=null ">startDate,</if>  
			<!-- 预计结业时间 -->  
			<if test=" preEndDate !=null ">preEndDate,</if>  
			<!-- 实际结业时间 -->  
			<if test=" realEndDate !=null ">realEndDate,</if>  
			<!-- 代课老师id -->  
			<if test=" teacherId !=null and teacherId !='' ">teacherId,</if>  
			<!-- 代课老师姓名 -->  
			<if test=" teacherName !=null and teacherName !='' ">teacherName,</if> 
		</trim>  
		<trim prefix="values(" suffix=")" suffixOverrides=","> 
			<!-- 主键id -->  
			<if test=" id !=null and id !='' ">#{id},</if>  
			<!-- 班级人数 -->  
			<if test=" size !=null and size !='' ">#{size},</if>  
			<!-- 班主任id（关联教师表） -->  
			<if test=" headTeacherId !=null and headTeacherId !='' ">#{headTeacherId},</if>  
			<!-- 男生人数 -->  
			<if test=" numOfBoys !=null and numOfBoys !='' ">#{numOfBoys},</if>  
			<!-- 女生人数 -->  
			<if test=" numOfGirls !=null and numOfGirls !='' ">#{numOfGirls},</if>  
			<!-- 所属院系id（关联院系表） -->  
			<if test=" facultyId !=null and facultyId !='' ">#{facultyId},</if>  
			<!-- 班级名称 -->  
			<if test=" banjiName !=null and banjiName !='' ">#{banjiName},</if>  
			<!-- 班主任姓名 -->  
			<if test=" headTeacherName !=null and headTeacherName !='' ">#{headTeacherName},</if>  
			<!-- 所属岗位id -->  
			<if test=" jobTypeId !=null and jobTypeId !='' ">#{jobTypeId},</if>  
			<!-- 开班时间 -->  
			<if test=" startDate !=null ">#{startDate},</if>  
			<!-- 预计结业时间 -->  
			<if test=" preEndDate !=null ">#{preEndDate},</if>  
			<!-- 实际结业时间 -->  
			<if test=" realEndDate !=null ">#{realEndDate},</if>  
			<!-- 代课老师id -->  
			<if test=" teacherId !=null and teacherId !='' ">#{teacherId},</if>  
			<!-- 代课老师姓名 -->  
			<if test=" teacherName !=null and teacherName !='' ">#{teacherName},</if> 
		</trim>  
		<selectKey resultType="int" keyProperty="id" order="AFTER">select LAST_INSERT_ID()</selectKey> 
	</insert>
	<!-- 动态更新banji -->
	<update id="updateBanji" parameterType="Banji">update banji set 
		<trim suffixOverrides=","> 
			<!-- 主键id -->  
			<if test=" id !=null and id !='' ">id=#{id},</if>  
			<!-- 班级人数 -->  
			<if test=" size !=null and size !='' ">size=#{size},</if>  
			<!-- 班主任id（关联教师表） -->  
			<if test=" headTeacherId !=null and headTeacherId !='' ">headTeacherId=#{headTeacherId},</if>  
			<!-- 男生人数 -->  
			<if test=" numOfBoys !=null and numOfBoys !='' ">numOfBoys=#{numOfBoys},</if>  
			<!-- 女生人数 -->  
			<if test=" numOfGirls !=null and numOfGirls !='' ">numOfGirls=#{numOfGirls},</if>  
			<!-- 所属院系id（关联院系表） -->  
			<if test=" facultyId !=null and facultyId !='' ">facultyId=#{facultyId},</if>  
			<!-- 班级名称 -->  
			<if test=" banjiName !=null and banjiName !='' ">banjiName=#{banjiName},</if>  
			<!-- 班主任姓名 -->  
			<if test=" headTeacherName !=null and headTeacherName !='' ">headTeacherName=#{headTeacherName},</if>  
			<!-- 所属岗位id -->  
			<if test=" jobTypeId !=null and jobTypeId !='' ">jobTypeId=#{jobTypeId},</if>  
			<!-- 开班时间 -->  
			<if test=" startDate !=null ">startDate=#{startDate},</if>  
			<!-- 预计结业时间 -->  
			<if test=" preEndDate !=null ">preEndDate=#{preEndDate},</if>  
			<!-- 实际结业时间 -->  
			<if test=" realEndDate !=null ">realEndDate=#{realEndDate},</if>  
			<!-- 代课老师id -->  
			<if test=" teacherId !=null and teacherId !='' ">teacherId=#{teacherId},</if>  
			<!-- 代课老师姓名 -->  
			<if test=" teacherName !=null and teacherName !='' ">teacherName=#{teacherName},</if> 
		</trim> WHERE id = #{id}
	</update>
</mapper>
